<div class="col-md-6 offset-md-3">
  <h3> Update Person </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label> First Name</label>
      <input type="text" class ="form-control" id = "firstname" placeholder="John/Jane"
             [(ngModel)] = "person.firstname" name = "firstname">
    </div>

    <div class="form-group">
      <label> Last Name</label>
      <input type="text" class ="form-control" id = "lastname" placeholder="Doe"
             [(ngModel)] = "person.lastname" name = "lastname">
    </div>

    <div class="form-group">
      <label> Gender  </label>
      <input type="text" class ="form-control" id = "gender" placeholder="Man/Woman"
             [(ngModel)] = "person.gender" name = "gender">
    </div>

    <div class="form-group">
      <label> Birthday  </label>
      <input type="text" class ="form-control" id = "birthday" placeholder="E.g. 29/02/2016"
             [(ngModel)] = "person.birthday" name = "birthday">
    </div>


    <button class = "btn btn-success" type ="submit">Submit</button>

  </form>
</div>
