<h2> Employee List</h2>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> First Name</th>
    <th> Last Name </th>
    <th> Gender </th>
    <th> Birthday </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let person of people" >
    <td> {{ person.firstname }} </td>
    <td> {{ person.lastname }} </td>
    <td> {{ person.gender }} </td>
    <td> {{ person.birthday }} </td>
    <td>
      <button (click)="updatePerson(person.id)" class="btn btn-info"> Update </button>
    </td>
  </tr>
  </tbody>
</table>
