
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="person-list" routerLinkActive="active" class="nav-link">
        Person List
      </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="person-form" routerLinkActive="active" class="nav-link">
        Person Form
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Ergo Kirt</span>
  </div>
</footer>
